* {
  font-family: 'Courier New', Courier, monospace;
}

body{
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color:gray
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card {
  align-content: center;
  border: 1px solid grey;
  border-radius:6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  padding-left: 10px;
}

.card p {
  text-align: left;
}

.discount{
  font-size:1.3rem;
  font-weight:bold;
  color: rgb(190, 46, 70);
}

.card img {
  max-height: 170px;
}